*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container
{
    width: 1024px;
    margin: 0 auto;
}
div#carousel {
    position:relative;
}
div.content-control{
    display: flex;
    justify-content: space-between;
    background-color: red;
}

.carousel-item{
    display:none;
    position: absolute;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}
img {
    display: block;
    height: auto;
    max-width: 100%;
}

.active{
    display: block;
}